$image-width: 260px;
$image-height: 160px;
$image-gap: 24px;
$duration: 70s;


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}

// Rotating images start
.image-marquee {
  width: 100%;
  overflow: hidden;

  padding: 40px 0;
}

.image-track {
  display: flex;
  gap: $image-gap;
  width: max-content;
  animation: slide-left $duration linear infinite;

  img {
    width: $image-width;
    height: $image-height;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(-100%);
  }
}
// End of carosol hopefully

ul {
    list-style-type: none;
    padding: 0;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

img {
    margin: auto;
    width: 100%;
    max-width: 1140px;
}

.nav-container {
    background: #204B57;

    a {
        color: white;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    img {
        width: 50px;
    }


   
    
    ul {
        display: flex;
        align-items: center;
        a {
            display: block;
            padding: 0 1em;
        }
    }

}

.social-header, .hero-design {
    display: none;
}

.hero {
    background: #142D34;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}

.meet {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    
    img {
       width: 27px; 
       margin: 0 2em;
    }
}

.scroll {
    width: 30px;
    margin-top: 2em;
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
    border: 2px solid black;
    border-radius: 5%;
}

// .featured::before {
//     content: "";
//     position: absolute;
//     width: 200px;
//     height: 200px;
//     border-radius: 50%;
//     background: #F3B7B1;
//     top: 0;
//     left: 0;
//     z-index: -1;
// }

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #1572EB;
    letter-spacing: .2rem;
    font-size: 1rem;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    display: block;
}

.featured-desc {
    margin-bottom: 3em;
    font-size: 1rem;
    line-height: 1.8em;
    font-weight: 500;
}

.skills {
    background: #1572EB;
        img {
            width: 36px;
        }

}

.skills-container-img {
    margin-bottom: 3rem;
}
.skills-container ul li{
    background: white;
    padding: 3em;
    border-radius: 1em;
    margin-bottom: 1em;


    }
    .skills-container {
        display: grid;
        grid-template-columns: auto auto auto;
        place-content: center;
    }
    .transition2 {
        min-width: 3rem;
        max-width: 500px;
        min-height: 300px;
        max-height: 500px;
    }


    .skill-title {
        font-weight: bold;
    }

    .featured-desc {
        margin-bottom: 2em;
    }

.graphic-design-container li {
    position: relative;
}
.graphic-design-container li {
    overflow: hidden;
}
.graphic-design-container li img {
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.graphic-design-container img:hover {
    transform: scale(1.2);
}

.colorbox-group{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1640px;
    margin: auto;
    
}

.clearbox {
    border: black 1px solid;
    max-width: 321px;
    text-align: center;
    padding: 87px 30px;
    font-weight: bold;
}

.project-p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.project-h {
    font-size: 2rem;
}
h4 {
    font-size: 1rem;
}

footer {
    background-color: #204B57;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        padding: 2em;
    }
    
    ul {
        padding: 2em 0;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 2fr);
        column-gap: 3em;
    }
}

#gif {
    max-width: 300px;
}
.bottom-nav {
    text-align: center;
    padding: 3rem;


}

.bottom-nav p:hover {
    color: #1572EB;
    cursor: pointer;
}


.project-head {
    display: grid;
    flex-direction: column-reverse;

    img {
        width: 100%;
    }
}

.container {   
    max-width: 100%;
    
    .colorbox-g, .colorbox-b, .colorbox-p, .colorbox-dg, .colorbox-r {
        background: #00715D;
        max-width: 30rem;
        min-height: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        justify-content: space-between;


        .innerbox {
            padding: 0 40px
        }

        h3 {
            color: #FFFFFF;
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
        }
        p {
            color: #FFFFFF;
            font-size: 1rem;
        }
        img {
            width: 28px;
        }
    }
    .colorbox-b {
        background: #315DDD;
     
    }
    .colorbox-p {
        background: #700353;
     
    }
    .colorbox-dg {
        background: #002A32;
    }
    
    .colorbox-r {
        background: #8B2635;
        
    }

    .inner-desc {
        max-width: 814px;
        margin: auto;
    }

    .description {
        margin-bottom: 8rem;
    }

    .bold {
        font-weight: bold;
    }

    .cofie-desc {
        padding-right: 5rem;
    }

 
    

    img {
        width: 100%;
    }



}

button {
    margin: 1rem 1rem;
    padding: 1rem 1.5rem;
    border: none;
    background-color: #1572EB;
    border-radius: 1em;
    color: white;
}
button:hover {
    cursor: pointer;
}

.button {
    color: white;
}

@media only screen and (min-width: 800px) {

    .e-learning-3c {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
    .featured {
        text-align: left;
        display: grid;
        grid-template-columns: 40% auto;
 
    }

    .projects {
        display: grid;
        grid-template-columns: auto;
    }
    .left {
        display: grid;
        place-content: center;
    }

    .right {
        margin-left: 2em;
        margin-top: 1em;
    }
    
    .featured {
        margin: 2rem 2rem;
    }

    .graphic-design-container ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    .meet {
        flex-direction: row;
        justify-content: center;

        img {
            margin-left: 0;
        }
    }

    img {
        width: 40%;
    }
    

}



@media only screen and (min-width: 1050px) {

    img {
        width: 100%;
    }
    
    
    
    .two-col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        max-width: 1570px;
        margin: auto;
        margin-top: 200px;
        grid-gap: 4rem;
        padding: 0.5rem 4rem;
    }
    .e-learning-3c {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

// Cofie Projects
   .project-head {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 5em;
    align-items: center;
    max-width: 1505px;
    margin: auto;
    }

    .hero {
        height: 90vh;
    }
    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background: #204B57;
        }
       
    }
    header {
            padding: 2em 2em 2em 4em;
        }

        section {
            padding: 4em;
        }
        .social-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            ul {
                display: flex;
                justify-content: space-around;
                align-content: center;
                

                img {
                    width: 20px;
                }
            }
        }

        .hero {
            display: grid;
            grid-template-columns: 66% auto;
            background: unset;
            padding: 0;
        }

        .content {
            background: #142D34;
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1 {
                font-size: 2rem;
                line-height: 1.2em;
            }
        }
        .meet {
            margin: unset;
            justify-content: flex-start;
        }

        .hero-design {
            display: unset;
            margin-left: -50%;
            margin-top: 15%;
            width: 100%;
        }
        .projects {
            grid-template-columns: auto auto;
        }
    }

    @media only screen and (min-width: 1250px) {
        .two-col {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
            max-width: 1570px;
            margin: auto;
            margin-top: 200px;
            grid-gap: 4rem;
        }


        .skills {
            padding-top: 7rem;
        }
    
        .skills-container ul {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 1rem;
        }
    
        header {
            padding: 2em 2em 2em 10em;
        }



        .hero .content {
            padding: 6em 8em 6em 10em;
        }
    } 
    @media only screen and (min-width: 1950px) {
        .two-col {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
            max-width: 1570px;
            margin: auto;
            margin-top: 200px;
            grid-gap: 4rem;
        }

        header {
            padding: 2em 2em 2em 20em;
        }

        .social-header {
            padding: 2em 20em 2em 0;
        }

        section {
            padding: 6em 20em 4em 20em;
        }

        .hero .content {
            padding: 9em 20em 6em 20em;
        }
    } 

    //Animation

    .circle {
        animation: circleAnim 1s infinite alternate-reverse;
    }

    @keyframes circleAnim {
        from {
            transform: translate(187px, 761px);
            z-index: 5;
        }
        to {
            transform: translate(187px, 790px);
            z-index: 5;
        }
    }

    // E-Learning Addional CSS
    .project-head-Design {
        display: grid;
        grid-template-rows: auto;
        margin: auto;
        margin-top: 2rem;
        max-width: 1480px;
    }
    .project-head-Design img {
        max-width: 1480px;
    }
    img.e-learning-logo {
        width: 10%;
        max-width: 108px;
    }
    .inverse-button {
        background-color: white; 
        color: #1572EB;
        border: 2px #1572EB solid;
    }


    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }